version: '3.7'
services:
  redis:
    build:
      context: docker
      dockerfile: Redis.Dockerfile
    env_file:
      - .env
    restart: on-failure
    ports:
      - "6379:6379"
  db:
    image: postgres:15-alpine
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: on-failure
    ports:
      - "5435:5432"
volumes:
  pgdata:
  pgadmin-data:
