aiofiles==23.2.1
aiogram==3.2.0
aiohttp==3.9.1
aiosignal==1.3.1
alembic==1.12.0
annotated-types==0.6.0
anyio==3.7.1
arq==0.25.0
async-timeout==4.0.3
asyncpg==0.28.0
attrs==23.1.0
black==23.11.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
cryptography==41.0.4
dnspython==2.4.2
email-validator==2.1.0.post1
fastapi==0.104.1
flake8==6.1.0
frozenlist==1.4.0
greenlet==3.0.0
h11==0.14.0
hiredis==2.2.3
httpcore==1.0.2
httptools==0.6.1
httpx==0.25.2
idna==3.4
iniconfig==2.0.0
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
magic-filter==1.0.12
Mako==1.2.4
MarkupSafe==2.1.3
mccabe==0.7.0
mirakuru==2.5.2
multidict==6.0.4
mypy==1.7.1
mypy-extensions==1.0.0
orjson==3.9.10
packaging==23.2
pathspec==0.11.2
platformdirs==4.0.0
pluggy==1.3.0
port-for==0.7.2
psutil==5.9.6
psycopg==3.1.12
pycodestyle==2.11.1
pycparser==2.21
pydantic==2.5.2
pydantic-extra-types==2.1.0
pydantic-settings==2.1.0
pydantic_core==2.14.5
pyflakes==3.1.0
pyngrok==7.0.1
pytest==7.4.2
pytest-asyncio==0.21.1
pytest-dotenv==0.5.2
python-dotenv==1.0.0
python-multipart==0.0.6
PyYAML==6.0.1
redis==5.0.1
ruff==0.1.6
sniffio==1.3.0
SQLAlchemy==2.0.23
starlette==0.27.0
typing_extensions==4.8.0
tzdata==2023.3
ujson==5.8.0
uvicorn==0.24.0.post1
watchfiles==0.21.0
websockets==12.0
yarl==1.9.2
