{% extends "base.html" %}

{% block content %}
    <p>Благодарим вас за регистрацию в Secrets, вашем быстром и надежном менеджере паролей.
        Мы рады приветствовать вас в нашем сообществе!</p>
    <p>С Secrets вы можете быть уверены, что ваши пароли и
        другие конфиденциальные данные хранятся в безопасности.</p>
    <p>Если у вас возникнут вопросы или предложения, не стесняйтесь обращаться к нам.</p>
    <p style="color: #48a999;">С уважением,</p>
    <p style="color: #48a999;">Команда Secrets</p>
{% endblock %}
