.main-content {
    display: flex;
    height: 80vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.container img {
    width: 100px;
    height: 100px;
    margin-bottom: 0;
}

.container h1 {
    font-size: 20px;
    color: #333;
    margin: 5px 0 15px;
}

.container p {
    font-size: 10px;
    color: #666;
    text-align: center;
    margin-bottom: 10px;
}

.container form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    box-sizing: border-box;
}

.container form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.container form button:hover {
    background-color: #45a049;
}
