body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
    display: block;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container form {
    gap: 10px;
}

.container form input[type="password"] {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10000px;
}

.container img {
    width: 100px;
    height: 100px;
}

.container h1 {
    font-size: 20px;
    color: var(--tg-theme-text-color);
    margin-top: 20px;
}

.container p {
    font-size: 16px;
    color: var(--tg-theme-hint-color);
    margin-top: 10px;
}
