body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #f0f0f0; */
    /*background: linear-gradient(to right, #ff7e5f, #feb47b);*/
}
.container {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}
.container h2 {
    text-align: center;
}
.container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container form input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.container form button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.container form button:hover {
    background-color: #0056b3;
}
